<a  routerLink="/send-materials-managment/new" class="btn btn-primary">  new new order</a>


<table class="table" >
    <thead>
      <tr>
        <th> orderId</th>
        <th>deliveryType</th>
        <th>orderStatus</th>
        <th> orderType</th>
        <th>stockname</th>
        <th>quantity</th>
      
        <th> send to materials management </th>
      
      
        

      </tr>
    </thead>
    <tbody>
      <tr *ngFor ="let p of sales | async">
        <td>{{p.orderId}}</td>
        <td>{{p.deliveryType}}</td>
        <td>{{p.orderStatus}}</td>
        <td>{{p.orderType}}</td>
        <td>{{p.stockname}}</td>
        <td>{{p.quantity}}</td>
       
        <td>
            <button  [routerLink] ="['/send-materials-managment',p.orderId]"  type="button" class="btn-materials-mangement"> view </button>
        </td>
       

        <!-- <td> 
          <button type="button"  class="btn"> view </button>
                   
        </td> -->
      </tr>
    </tbody>
    
    </table>
    