<!-- <div> 
    <button type="button" class="add-inqurie"> add </button> 
</div> -->
<a  routerLink="/admininqurie/new" class="btn btn-primary">  new inquries</a>
   
<table class="table" >
        <thead>
          <tr>
            <th> enquiryId</th>
            <th>deliveryType</th>
            <th>confirmStatus</th>
            <th> enquiryDate</th>
            <th>stocktype</th>
            <th>stockname</th>
            <th>quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor ="let p of inquries | async">
            <td>{{p.enquiryId}}</td>
            <td>{{p.deliveryType}}</td>
            <td>{{p.confirmStatus}}</td>
            <td>{{p.enquiryDate}}</td>
            <td>{{p.stocktype}}</td>
            <td>{{p.stockname}}</td>
            <td>{{p.quantity}}</td>
           
            <td>
                <button [routerLink] ="['/admininqurie',p.enquiryId]"type="button" class="btn-materials-mangement"> admin </button> </td>
            <td></td>
           
          </tr>
        </tbody>
        
        </table>
        