
        <button routerLink ="/order-cancellation" type="button" class="btn-materials-mangement"> admin </button>
<table class="table">
  <thead>
    <tr>
      <th> customerId</th>
      <th>InqurieId</th>
      <th>ItemId</th>
      <th> productName</th>
      <!-- <th>InqurieDate</th> -->
      <th> verify Details </th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of sales | async">
      <td>{{p.orderId}}</td>
      <td>{{p.itemId}}</td>
      <td>{{p.returnType}}</td>
      <td>{{p.penaltyStatus}}</td>
      <!-- <td>{{p.inqurieDate}}</td> -->
      <td>

       
      </td>
    </tr>
  </tbody>
</table>