
<a  routerLink="/add-client/new" class="btn btn-primary">  new Client </a>


<table class="table" >
<thead>
  <tr>
    <th> clientId</th>
    <th>Names</th>
    <th>Trading Name(if business</th>
    <th> Main Location(for Billing)</th>
    <th>delevery Location</th>
    <th>collection location(for return)</th>
    <th>customer Mobile Number</th>
    
    <th> Email Address</th>
    <th> View History</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor ="let p of customers | async">
    <td>{{p.customerId}}</td>
    <td>{{p.customerName}}</td>
    <td>{{p.tradingName}}</td>
    <td>{{p.mainLocation}}</td>
    <td>{{p.deliveryLocation}}</td>
    <td>{{p.collectionLocation}}</td>
    <td>{{p.telephoneNumber}}</td>
    <td>{{p.email}}</td>
    <td> 
      <!-- <a > view History</a> -->
      <a [routerLink] ="['/add-client',p.customerId]"> View History</a>
    </td>
  </tr>
</tbody>

</table>
