
<a  routerLink="/view-confirmationfrom-production" class="btn btn-primary">  add new order inquriy</a>

<table class="table" >
    <thead>
      <tr>
        <th>clientId</th>
        <th>Client Name</th>
        <th>exchange Type</th>
        <th>
          Arange item to be collected
        </th>
        <th> confrimcredit(Return)</th>
        <th>confirm repire</th>
        <th>confirm exchange</th>
       
      
        

      </tr>
    </thead>
    <tbody>
      <tr *ngFor ="let p of returnOrder | async">
        <td>{{p.itemId}}</td>
        <td>{{p.note}}</td>
        <td>{{p.returnType}}

          </td>
        <td>
             {{p.ReturnDate}}
        </td>
        <td>
            <button  (click)="updateReturnAsCredit(p.orderId)"   type="button" class="btn-materials-mangement"> credit </button>
        <!-- </td>
        <button  [routerLink] ="['/send-materials-managment',p.orderId]"  type="button" class="btn-materials-mangement"> credit </button> -->
        
         <td> 
            <button (click)="updateReturnAsExchange(p.orderId)" routerLink="/view-sales-orders" type="button" class="btn-materials-mangement"> new </button>
        </td>
       

        <td> 
          <button  (click)="updateReturnAsRepire(p.orderId)"  type="button" class="btn"> view </button>
                   
        </td>
      </tr>
    </tbody>
    
    </table>
    

